@font-face {
  font-family: "Mazius Review";
  src: url("./MAZIUSREVIEW20.09-Extraitalic.woff2");
}

@media all and (min-width: 1250px) {
  nav.mobile {
    display: none;
  }
}

@media all and (max-width: 1250px) {
  nav.desktop {
    display: none;
  }
  nav.mobile {
    display: block;
  }
  #vertNav {
    display: none;
  }
}

html {
  background-color: #253648;
  color: #c07b5c;
}

main {
  padding: 3.6rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Mazius Review";
  font-weight: 700;
}

h1 {
  font-size: 7.2rem;
}

h2 {
  font-size: 4.8rem;
}

nav {
  padding: 3.6rem;
  background: #c07b5c;
  color: #253648;
}

nav > section > a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0.6rem;
}

nav > section > a:hover {
  font-weight: bold;
  font-style: italic;
}

nav.mobile > section {
  margin-top: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

nav.mobile > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav.mobile > header > svg {
  width: 3rem;
  height: 3rem;
}

nav.desktop > section {
  display: grid;
  grid-template-columns:
    minmax(auto, 500px) minmax(auto, 200px) minmax(auto, 200px)
    minmax(auto, 200px) minmax(auto, 200px);
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

nav.desktop > section > a {
  justify-self: center;
}

header.hero {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  margin-bottom: 3.6rem;
}

header.hero > h1.lower {
  align-self: flex-start;
}

#headshot {
  height: 200px;
}

.modal-outer {
  display: grid;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(117, 120, 122, 0.808);
  justify-content: center;
  align-items: center;
  /* hide the modal */
  opacity: 0;
  pointer-events: none;
  transition: all 0.15s ease-in-out;
}

.modal-outer.open {
  opacity: 1;
  pointer-events: all;
  transition: all 0.15s ease-in-out;
}

.modal-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #c07b5c;
  color: #253648;
  max-width: 600px;
  max-height: 400px;
  padding: 20px 100px;
  border-radius: 10px;
}

.modal-inner img {
  margin-bottom: 20px;
  border-radius: 10px;
  min-height: 100%;
}

.diable-click {
  pointer-events: none;
}
