@font-face {
  font-family: "Mazius Review";
  src: url("./MAZIUSREVIEW20.09-Extraitalic.woff2");
}

html {
  background-color: #253648;
  color: #c07b5c;
}

main {
  margin: 3.6rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Mazius Review";
  font-weight: 700;
}

h1 {
  font-size: 3em;
}

nav > ul {
  display: grid;
  grid-template-columns:
    minmax(auto, 200px) minmax(auto, 200px) minmax(auto, 200px)
    minmax(auto, 200px) minmax(auto, 200px);
  justify-content: center;
}

nav > ul > li {
  justify-self: center;
}
