nav {
  background: black;
  color: white;
  padding: 50px;
}

nav ul {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  max-width: 600px;
  align-items: center;
}

nav.pinned {
  background: rebeccapurple;
  transition: background 0.5s ease-in-out;
}

main {
  padding: 200px 50px;
}

/* Tabs */

:root {
  --gray: #ececec;
  --purple: rgb(137, 102, 172);
}

.wrapper {
}

.tabs {
  display: grid;
  margin: 20px;
}

[role="tablist"] {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
}

[role="tabpanel"] {
  background: var(--purple);
  padding: 2rem;
  color: white;
}

button {
  background: var(--gray);
  border: 0;
  color: black;
  border-radius: 5px 5px 0 0;
  --bs-color: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 -2px 5px var(--bs-color);
  cursor: pointer;
}

button[aria-selected="true"] {
  background: var(--purple);
  box-shadow: none;
  color: white;
}

button:focus {
  outline: 0;
  --bs-color: rgba(0, 0, 0, 0.6);
}
